
<!doctype html>
<html>
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>DPL Skills</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
  <header>
    <h1>DPL Skills</h1>
    
  </header>
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <div class="flash">
        {% for m in messages %}<div>{{ m }}</div>{% endfor %}
      </div>
    {% endif %}
  {% endwith %}
  <main>
    {% block content %}{% endblock %}
  </main>
  
</body>
</html>
